@page "/products/{id}"
@inject CatalogAPI.IClient CatalogAPI

@if(product is null) 
{
    <em>Loading...</em>
}
else 
{
    <AppPageTitle>@product.Name</AppPageTitle>

    <div class="row gx-5">
        <div class="col-md-4 mb-4">
            <img class="bd-placeholder-img card-img-top shadow" src="caffe-latte.jpg" />
        </div>

        <div class="col-md-8 mb-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/products">Products</a></li>
                    <li class="breadcrumb-item"><a href="/products/coffee">Coffee</a></li>
                </ol>
            </nav>

            <h1>@product.Name</h1>

            <div class="mb-4">
                <h5 style="display: inline-block; font-weight: 500; color: #ca0000; line-height: 0;">@(product.Price.ToString("c"))</h5>
                @if(product.RegularPrice is not null) 
                {
                    <h5 class="text-muted" style="display: inline-block; text-decoration: line-through; color: gray !important; margin-left: 10px; line-height: 0;">@(product.RegularPrice?.ToString("c"))</h5>
                }
            </div>

            <p>@product.Description</p>

            <div class="accordion mt-5" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Specification
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Reviews
                    </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code 
{
    CatalogAPI.Product? product;

    [Parameter]
    public string Id { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        product = await CatalogAPI.GetProductByIdAsync(Id);
    }
}