@using System.Reflection
@using Microsoft.Extensions.Localization
@using YourBrand.Admin
@inject ISnackbar Snackbar
@inject IStringLocalizer<Routes> T

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Routes).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(YourBrand.Admin.Layouts.MainLayout)">
                <Authorizing>
                    <span>@T["AuthorizingMessage"]</span>
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p role="alert">@T["UnauthorizedMessage"]</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <AppPageTitle>@T["NotFound"]</AppPageTitle>
            <LayoutView Layout="@typeof(YourBrand.Admin.Layouts.MainLayout)">
                <p role="alert">@T["NotFoundMessage"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>